.slogan{
    align-items: flex-end;

}
@media(max-width:960px){
    .slogan{
        align-items: center;
    }
    .slogan h1{
        text-align: center;
    }
    body{
        background-color: darkslategrey;
    }

}