body{
    background-color: rgb(131, 161, 151);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.slogan{
    align-items: flex-end;

}
@media(max-width:960px){
    .slogan{
        align-items: center;
    }
    .slogan h1{
        text-align: center;
    }
    

}